@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', Roboto, sans-serif;
}

.landing-hero {
    min-height: 60vh;
}

.hero-image {
    max-height: 498px;
}

.hero-image img {
    max-height: 498px;
}

@layer components {

    .active {
        @apply border-violet-600 border-b-2;
    }
}